@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
@import "weather";

.modal{
  color: black;
}

.modal-title{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
