@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.picture-area {
  flex: 1;
  margin: 0px;
  background-image: url('/images/high_res/mohamed-nohassi-229698.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.current-location {
  font-size: 60px;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding-left: 20px;
}
.current-location > .current-location-state {
  color: rgba(255, 255, 255, 0.6);
  margin-left: -12px;
}
.current-time {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 60px;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding-right: 20px;
}
.current-time-detail {
  color: rgba(255, 255, 255, 0.6);
  margin-left: -12px;
}
.weather-area {
  height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
}
.weather-area-picture {
  background-image: url('/images/high_res/mohamed-nohassi-229698.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  top: -80px;
  right: -80px;
  bottom: -80px;
  left: -80px;
  filter: blur(40px);
  -webkit-filter: blur(40px);
  position: absolute;
}
.weather-area-content {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #757575;
  color: white;
}
.current-weather {
  height: 100%;
  text-align: center;
  padding-top: 50px;
}
.current-weather > .temperature {
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  width: 250px;
}
.temperature-number {
  font-size: 144px;
  line-height: 100%;
  vertical-align: top;
  margin-right: -20px;
}
.temperature-degree {
  font-size: 80px;
  vertical-align: top;
  line-height: 120%;
}
.weather-icon {
  display: inline-block;
  height: 144px;
  width: 144px;
  vertical-align: middle;
  margin-top: -8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*
  background-color: white;
  -webkit-mask-size: 220px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-size: 220px;
  mask-repeat: no-repeat;
  mask-position: center;
  */
}
.weather-icon-sun {
  background-image: url('icons/clouds/001lighticons-02.png');
}
.weather-icon-cloudy {
  background-image: url('icons/clouds/001lighticons-14.png');
}
.weather-icon-rain {
  background-image: url('icons/clouds/001lighticons-18.png');
}
.weather-icon-snow {
  background-image: url('icons/clouds/001lighticons-23.png');
}
.weather-icon-wind {
  background-image: url('icons/clouds/001lighticons-06.png');
}
.current-date {
  width: 250px;
  vertical-align: middle;
  display: inline-block;
  padding-right: 35px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
.current-weather-details {
  width: 144px;
  vertical-align: middle;
  display: inline-block;
  font-size: 18px;
}
.temp-separator {
  color: #adadad;
  margin: 0px 8px;
}
.weather-card {
  border-left: 1px solid #757575;
  height: 100%;
  text-align: center;
  font-size: 22px;
  padding-top: 50px;
}
.weather-card-day {
  margin: 0px 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-family: 'Raleway', sans-serif;
}
.weather-card > .weather-icon {
  height: 95px;
  width: 95px;
  margin: 8px auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.weather-card-temperature {
  margin-right: -9px;
  font-size: 18px;
}
.modal {
  color: black;
}
.modal-title {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
/*# sourceMappingURL=/assets/weather-app.css.map */